#reports{
    padding-left: 3rem;
    margin-top: 1rem;
}
#reportInnerHder{
    display: flex;
    gap: 2rem;
}

#reportTitle{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: left;

}
#graphBtn{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    text-align: left;

}
#graphBtn button:first-child{
    background-color: #56AAC5;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
}

/* table */
.dataContainer{
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #fff;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}
.tableContainer{
    width: 100%;
}
.tableContainer table{
    width: 100%;
    border-collapse: collapse;
}
.dataItemContainer{
    display: flex;
}

.theding th{
    text-align: start;
    padding: 20px;
    color: #00000087;
}
.theding thead tr{
    border-bottom: 2px solid #00000026;
}

.theding tbody tr{
    border-bottom: 1px solid #00000026;
    
}
.theding tbody td{
    padding: 20px;
    /* text-align: center; */

}

#centerTxt{
    text-align: center;
}
.actionBtn{
    font-family: lexend, sans-serif;
    font-weight: 400;
    background-color: #56AAC5;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    /* border: none; */
    cursor: pointer;
}


/* table */