#tenderMng{
    width: 95%;
    max-width: 1920px;
    margin: 1rem auto;
    padding: 10px;
    /* border: 1px solid; */
    background: #fff;
    border-radius: 7px;
}
.tenderMngHeader{
    width: 100%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 4rem;
}
.tenderHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
#tenderHeadingTxt{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: left;

}
.searchInputecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.selectStatusContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.selectStatusContainer select{
    font-size: 15px;
    padding: 10px 26px 10px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    width: 15rem;
}
.createTenderBtnContainer button{
    font-weight: 500;
    background-color: #56AAC5;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* border: none;     */
    cursor: pointer;
}

/* tender table container */

/* tender table container */