/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ============================================= */

.app {
  display: flex;
  min-height: 100vh; /* Full viewport height */
}

body::-webkit-scrollbar{
 /* display: none; */
 width: 10px;
 
}
body::-webkit-scrollbar-track {
  background: #CAD2FF;

}
body::-webkit-scrollbar-thumb{
  background-color: #e1e6ff; /* color of the scrollbar thumb */
  border-radius: 6px; /* roundness of the scrollbar thumb */
  /* border: 3px solid #f1f1f1;  */
}
.sidebar {
  width: 200px;
  background-color: #E9EBF7;
  padding: 20px;
  height: 100vh; /* Full height of viewport */
  position: fixed; /* Fix the sidebar to the left */
  top: 0;
  left: 0;
  z-index: 20;
  min-height: 100vh;
  max-height: fit-content;
  overflow-y: scroll;
}

.content {
  margin-left: 250px; /* Shift the content to the right of the sidebar */
  flex: 1;
  padding: 0 20px;
  background: #E5E4E0;
}
